extends layout

block content
  div.row
    div.ten.columns(style="text-align: center;")
      h1= title
      p Welcome to #{title}'s Graphs. Here you can see all the information about the gas stations monitored by our services.
      each val in data
        a(href='graphs/solo/#{val}') See graph.
        br
