extends layout

block content
  div.row
    div.ten.columns(style="text-align: center;")
      h1= title
      p Welcome to #{title}
      form#gas(name="add-estimation", method="post", action="add")
        h3 How much?
        input#estimation(name="estimation", placeholder="$", type="number")
        input#lat(name="lat", type="hidden")
        input#lon(name="lon", type="hidden")
        br
        input#gobtn(name="gobutton", value="Go!", type="submit")
      a(href="/graphs") Check Graphs
